@import 'src/styles/settings.scss';

.c-button {
  padding: $space-xs $space-l;
  margin-top: $space-m;
  border: $space-xxxs solid $color-dark-purple;
  border-radius: $space-xs;

  background: $color-dark-purple;
  color: $color-white;

  font-size: $fs-medium;
  cursor: pointer;

  &:hover {
    background: $color-white;
    color: $color-dark-purple;
  }

  &--secondary {
    background: $color-white;
    color: $color-dark-purple;

    &:hover {
      background: $color-dark-purple;
      color: $color-white;
    }
  }
}
