@import 'src/styles/settings.scss';

.c-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $space-xxl;
  margin: $space-m;
  border-radius: $space-s;

  box-shadow: $color-light-purple $shadow-h-offset $shadow-v-offset $shadow-blur;

  &__title {
    font-size: $fs-extra-large;
  }
}
