@import 'src/styles/settings.scss';

.c-settings-page {
  display: flex;
  width: $layout-width;

  justify-content: center;
  align-items: center;

  margin-top: $space-xxl;

  &__form {
    width: $container-width;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
