@import 'src/styles/settings.scss';

.c-friends-page {
  color: $color-dark-purple;
  text-align: center;
  font-weight: $fw-semi-bold;

  &__friends {
    list-style: none;
  }

  &__friend {
    display: inline-block;

    width: $layout-half-width;

    margin: $space-s;
    padding: $space;
  }

  &__no-friends {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: $color-dark-purple;
    text-align: center;
  }

  &__no-friends-text {
    font-size: $fs-extra-large;
    font-weight: $fw-extra-bold;

    margin-bottom: $space-m;
  }

  &__no-friends-img {
    width: $photo-width;
  }
}
