@import 'src/styles/settings.scss';

.c-friends-page {
  color: $color-dark-purple;
  text-align: center;
  font-weight: $fw-semi-bold;

  &__friends {
    list-style: none;
  }

  &__friend {
    display: inline-block;

    width: $layout-half-width;

    margin: $space-s;
    padding: $space;
  }
}
