@import 'src/styles/settings.scss';

.c-user-profile-page {
  &__header {
    display: flex;

    margin: $space-xxl;

    border: $space-xxxs $color-light-purple;
    border-radius: $space-s;

    box-shadow: $color-light-purple $shadow-h-offset $shadow-v-offset $shadow-blur;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $photo-width;

    color: $color-light-purple;
  }

  &__data {
    display: flex;
    justify-content: space-between;

    width: $layout-width;

    margin: $space-l;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: $column-width;

    margin: $space-m;

    border-radius: $space-s;

    font-style: italic;
    font-size: $fs-medium;
    color: $color-medium-purple;

    &--important {
      font-style: normal;
      font-size: $fs-extra-large;
      font-weight: $fw-bold;
      color: $color-dark-purple;
    }

    &--request-info {
      font-style: normal;
      font-size: $fs-large;
      font-weight: $fw-extra-bold;
      color: $color-medium-purple;
    }
  }

  &__posts {
    margin: $space-xxl;
  }

  &__no-posts {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: $color-dark-purple;
    text-align: center;
  }

  &__no-posts-text {
    font-size: $fs-extra-large;
    font-weight: $fw-extra-bold;

    margin-bottom: $space-m;
  }

  &__no-posts-img {
    width: $photo-width;
  }
}
