@import 'src/styles/settings.scss';

.c-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Roboto';
    font-weight: $fw-medium;
  }
}
