// Colors
$color-black: #000;
$color-white: #fff;
$color-red: #b9091b;
$color-green: #65a30d;
$color-lighest-purple: #ede9fe;
$color-light-purple: #a78bfa;
$color-medium-purple: #7c3aed;
$color-dark-purple: #4c1d95;

// Fonts
$font-family: 'Roboto', sans-serif;

// Font size
$fs-small: 0.75rem; // 12px
$fs-base: 16px;
$fs-medium: 1.25rem; // 20px
$fs-large: 1.5rem; // 24px
$fs-extra-large: 2rem; // 32px

// Font weight
$fw-base: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold-light: 700;
$fw-bold: 800;
$fw-extra-bold: 900;

// Spacings
$space-xxxs: 0.063rem; // 1px
$space-xxs: 0.125rem; // 2px
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space: 1rem; // 16px
$space-m: 1.25rem; // 20px
$space-l: 1.5rem; // 24px
$space-xl: 2.5rem; // 40px
$space-xxl: 3rem; // 48px
$space-xxl: 3.75rem; // 60px
$space-xxxl: 6.25rem; // 100px
$space-xxxxl: 10rem; // 160px

// Shadow
$shadow-h-offset: 0;
$shadow-v-offset: 0.3125rem; // 5px
$shadow-blur: 0.9375rem; // 15px

// Layout
$layout-height: 100dvh;
$layout-full-height: 100%;
$layout-width: 100%;
$layout-half-width: 48%;

// Layout width
$form-width: 75%;
$container-width: 31.25rem; // 500px
$sidebar-width: 18.75rem; // 300px
$photo-width: 12.5rem; // 200px
$column-width: 33.33%;
